<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Caracters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="caracter__title">
    <h2>Select</h2>
  </div>


  <div *ngIf="caracters" class="caracter__card">
    <div *ngFor="let carac of caracters.results">
      <div (click)="selectCaracter(carac)" class="caracter__card__item">
        <img [src]="carac.image">
        <p class="caracter__card__item--name">{{carac.name}}</p>
      </div>
    </div>
  </div>
</ion-content>
