<ion-header [translucent]="true">
  <ion-toolbar *ngIf="name">
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="name">
  <div class="caracter__perfil">
    <img [src]="imgPerfil" class="avatar">
  </div>
  <div class="caracter__body">
    <p>{{ name }}</p>
    <p>{{ gender }}</p>
    <p>{{ location.name }}</p>
    <p>{{ status }}</p>
    <p>{{ species }}</p>
  </div>
  <footer>
    <ion-button (click)="voltar()">Voltar</ion-button>
  </footer>
</ion-content>
