.caracter {
    &__perfil {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            border-radius: 50%;
        }
    }

    &__body {
        height: max-content;
        padding: 20px;
    }
}

footer {
    padding: 0 20px;
    width: 100%;

    ion-button {
        width: 100%;
        margin: 0;
    }
}