
<ion-content [fullscreen]="true">
  <div class="body_login">
    <ion-card>
      <ion-card-header>
        <ion-card-title>App Rick and Morty</ion-card-title>
        <ion-card-subtitle>Please, enter witch login:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <!-- <ion-item> -->
            <ion-input labelPlacement="floating" label="User"></ion-input>
          <!-- </ion-item> -->
          <ion-input type="password" labelPlacement="floating" label="Password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
