
<ion-content [fullscreen]="true">
  <div class="pageLogin">
    <div class="pageLogin__body">
      

      <div class="pageLogin__body__card">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-input label-placement="stacked" fill="solid" label="User" [counter]="true"></ion-input>
              <ion-input label-placement="stacked" fill="solid" label="Password" type="password" [counter]="true">
                <ion-input-password-toggle mode="ios" slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
