<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Abount app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h2 style="color: red">This app its building!!!</h2>
    <p>
      This application was created to be presented as a portfolio.
      Using the API: <br> https://rickandmortyapi.com/api/
    </p>
    <p>
      From the animated series Rick and Morty.
    </p>
    <p>
      Author of the application: <br>
      Gabriel P. R. da Fonseca
    </p>
  </div>
</ion-content>
